:root {
    --font-1: 'Source Serif Pro', serif;
    --primary-color: #D9AB82;
    --primary-color-light-1:#E5BB95;
    --primary-color-light-2:#F7D0AD;
    --primary-color-dark-1: #CC9666;
    --primary-color-dark-2: #B27A47;
    --secondary-color: #8D2020;
    --secondary-color-light-1: #B23E3E;
    --secondary-color-light-2: #CC5252;
    --secondary-color-dark-1: #731111;
    --secondary-color-dark-2: #590909;
    --black: #1A1008;
    --white: #F2ECE6;
    --gray-1:#332F2B;
    --gray-2:#80766C;
    --gray-3:#B2A89D;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: var(--font-1);
    font-size: 1.5rem;
    color: var(--gray-1);
}
img {
    width: 100%;
}

header {
    width: 100%;
    min-height: 50px;
    padding: 10px 40px;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(500px,1fr)); */
    grid-auto-flow: column;
    /* justify-content: space-between; */
    place-items: end center;
    background-color: var(--white);
    color: var(--gray-1);
}
header > a {
    justify-self: start;
    /* align-self: end; */
    text-decoration: none;
    color: inherit;
}
header h1 {
    text-transform: uppercase;
    font-size: 2rem;
    font-style: italic;
    font-weight: 600;
}
header nav ul {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
}
header nav li {
    list-style: none;
}
header nav a {
    font-size: 1.5rem;
    font-style: italic;
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
}
main {
    background-color: var(--primary-color-light-1);
    padding: 0px 20px;
}
/*------------------
------- HERO -------
-------------------*/
.hero {
    width: 100%;
    padding-top: 50px;
    border-bottom: 2px solid var(--gray-1);
}
.hero .container {
    /* max-width: 660px; */
    max-height: 530px;
    margin: 0 auto;
    /* border: 1px solid var(--gray-1); */
    display: grid;
    grid-template-columns: repeat(25, minmax(11px,30px));
    grid-template-rows: repeat(9, minmax(15px, 45px));
    justify-content: center;
    aspect-ratio: 1.95;
}
.hero .container .item-1 {
    background-color: var(--secondary-color-dark-1);
    grid-column: 1/16;
    grid-row: 3/6;
    
}
.hero .container .item-2 {
    background-color: var(--white);
    grid-column: 9/26;
    grid-row: 5/9;
    opacity: 50%;
}
.hero .container .item-3 {
    /* display: none; */
    background-color: var(--secondary-color-dark-1);
    grid-column: 4/18;
    grid-row: 8/10;
    opacity: 50%;
    z-index: 1;
}
.hero .container .item-4 {
    background-color: var(--secondary-color-light-1);
    grid-column: 16/21;
    grid-row: 2/5;
    border-radius: 50%;
}
.hero .container .img-container {
    grid-column: 8/18;
    grid-row: 1/10;
    z-index: 1;
    /* border: 2px solid var(--secondary-color-dark-2); */
}
.hero .container img {
    width: 100%;
    height: 100%;
} 
.hero span {
    display: block;
    width: max-content;
    margin: 40px auto 70px;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-style: italic;
}

/*------------------------*/
.main-content .img-container img {
    /* display: none; */
}
/*----------------------*/

.main-content {
    display: grid;
    /*grid-template-columns: repeat(2, minmax(420px,500px));*/
    /* grid-auto-rows: 420px; */
    /* grid-auto-flow: column; */
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 200px 0;
    gap: 100px;
}
.main-content h2{
    margin-bottom: 20px;
    font-size: 3rem;
    font-style: italic;
    font-weight: 600;
    text-transform: uppercase;
}
.main-content p {
    font-size: 2rem;
    font-weight: 400;
}
.main-content__text-block-1::before {
    content: '';
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: var(--primary-color-light-2);
    position: absolute;
    left: -40px;
    top: -20px;
    z-index: -1;
}
.main-content__text-block-1 {
    position: relative;
    z-index: 1;
}
.main-content__text-block-2::before {
    content: '';
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: var(--primary-color-light-2);
    position: absolute;
    left: -40px;
    top: -20px;
    z-index: -1;
}
.main-content__text-block-2 {
    position: relative;
    z-index: 1;
    /* grid-column: 1/2;
    grid-row: 3/4; */
}


/* ------------------------
-------Grid collage 2-------
-------------------------*/

.main-content__container-1 {
    /* height: 415px; */
    display: grid;
    grid-template-columns: repeat(21, minmax(13px, 15px));
    grid-template-rows: repeat(14, minmax(17px, 30px));
    aspect-ratio: 0.75;
}
.main-content__container-1 .item-1{
    background-color: var(--gray-1);
    grid-column: 4/8;
    grid-row: 2/10;
    position: relative;
}
.main-content__container-1 .item-1__subitem-1 {
    width: 10px;
    height: 10px;
    background-color: var(--white);
    position: absolute;
    left: 5px;
    top: 50%;
}
.main-content__container-1 .item-1__subitem-2 {
    width: 10px;
    height: 10px;
    background-color: var(--secondary-color-light-1);
    position: absolute;
    left: -15px;
    top: 50%;
}
.main-content__container-1 .item-1__subitem-3 {
    width: 10px;
    height: 10px;
    background-color: var(--secondary-color-light-1);
    position: absolute;
    left: -35px;
    top: 50%;
}
.main-content__container-1 .item-1__subitem-4 {
    width: 10px;
    height: 10px;
    background-color: var(--secondary-color-light-1);
    position: absolute;
    left: -55px;
    top: 50%;
}
.main-content__container-1 .item-2{
    background-color: var(--secondary-color-light-1);
    grid-column: 15/19;
    grid-row: 9/-1;
}
.main-content__container-1 .item-3{
    background-color: var(--white);
    /* width: 110px;
    height: 110px; */
    border-radius: 50%;
    grid-column: 16/22;
    grid-row: 3/7;
    position: relative;
}
.main-content__container-1 .item-3__subitem-1 {
    width: 10px;
    height: 10px;
    background-color: var(--secondary-color-light-1);
    position: absolute;
    right: 20px;
    top: 60px;
}
.main-content__container-1 .item-3__subitem-2 {
    width: 10px;
    height: 10px;
    background-color: var(--secondary-color-light-1);
    position: absolute;
    right: 20px;
    top: 80px;
}
.main-content__container-1 .item-3__subitem-3 {
    width: 10px;
    height: 10px;
    background-color: var(--secondary-color-light-1);
    position: absolute;
    right: 20px;
    top: 40px;
}
.main-content__container-1 .img-container {
    /* border: 2px solid var(--secondary-color-dark-2); */
    grid-column: 4/15;
    grid-row: 2/-1;
}
.main-content__container-1 .img-container img {
    height: 100%;
    position: relative;
}

/* ------------------------
-------Grid collage 3-------
-------------------------*/

.main-content__container-2 {
    /* height: 415px; */
    display: grid;
    /* grid-row: 3/4; */
    grid-template-columns: repeat(14, minmax(20px,30px));
    grid-template-rows: repeat(13, minmax(19px, 32px));
    aspect-ratio: 1.13;
}
.main-content__container-2 .item-1 {
    background-color: var(--secondary-color-light-1);
    grid-column: 1/4;
    grid-row: 3/12;
}
.main-content__container-2 .item-2 {
    background-color: var(--secondary-color-light-1);
    grid-column: 10/14;
    grid-row: 1/5;
    border-radius: 50%;
}
.main-content__container-2 .item-3 {
    background-color: var(--white);
    grid-column: 11/14;
    grid-row: 6/13;
}
.main-content__container-2 .img-container {
    grid-column: 1/15;
    grid-row: 2/-1;
}
.main-content__container-2 img {
    height: 100%;
}
@media (min-width:950px){
    main {
        padding: 0 60px;
    }
    .main-content {
        grid-template-columns: repeat(2, minmax(250px, 500px));
        grid-auto-rows: 420px;
        justify-content: center;
        align-items: center;
        padding: 200px 0;
        gap: 300px 40px;
    }
    .main-content__container-2 {
        height: 415px;
        display: grid;
        grid-row: 2/;
        grid-template-columns: repeat(14, 1fr);
        grid-template-rows: repeat(13, 1fr);
    }
    .main-content__text-block-2 {
        position: relative;
        z-index: 1;
        grid-column: 1/2;
        grid-row: 2/3;
    }
    header {
        min-height: 90px;
    }
    header h1 {
        font-size: 3rem;
    }
    header nav a {
        font-size: 2rem;
    }
}